<br>
<div class="container">
    <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                お気に入りリスト
              </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <% @favorite_items.each do |item| %>
                <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <%= image_tag item.image_url(:item_image) %>
                                <div class="caption">
                                    タイトル：<%= item.title %><br>
                                    <%= item.user.name %>
                                    
                                        <%= link_to detail_item_path(item) do %>
                                            <div class="btn btn-warning">詳細</div>
                                        <% end %>
                                    <% unless item.accept_user_id.nil? %>
                                        <div class="label label-danger">売り切れ</div>
                                    <% end %>
                                </div>
                                <br>
                        </div>
                </div>
                <% end %>
            </div>
        </div>
</div>