<div class="container">
    <h1>新着順(仮)</h1>
        <div class="row">
            <% @item.each do |f| %>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                        <%= image_tag f.image_url(:item_image) %>
                        <div class="caption">
                            タイトル：<%= f.title %><br>
                            <%= f.user.name %>
                        </div>
                        <br>
                </div>
            </div>
            <% end %>
        </div>
</div>