<br>
<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h1 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span> 
                新着
              </h1>
            </div>
                <div class="panel-body">
                <% @items.each do |item| %>
                <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <%= image_tag item.image_url(:item_image) %>
                                <div class="caption">
                                    <strong><%= item.title %></strong><br>
                                    <% unless item.accept_user_id.nil? %>
                                        <div class="label label-danger">売り切れ</div><br>
                                    <% end %>
                                    <br>
                                        <%= link_to detail_item_path(item) do %>
                                            <div class="btn btn-warning">詳細</div><br><br>
                                        <% end %>
                                        <%= render 'favorite_form', item: item %>
                                    
                                </div>
                                <br>
                        </div>
                </div>
                <% end %>
                </div>
            </div>
        </div>
</div>