<header>
  
    <div class="masthead">
      <h3 class="text-muted">マグスコ</h3>
      <% if logged_in? %>
      <div class="btn btn-primary"><%= link_to "ログアウト", logout_path, method: "delete" %></div>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="#">新着順</a></li>
            <li><a href="#">検索</a></li>
            <li><a href="#">ゆずる</a></li>
            <li><a href="#">プロフィール</a></li>
            <li><a href="#">設定</a></li>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="#">新規登録</a></li>
            <li><a href="#">ログイン</a></li>
          </ul>
        </nav>
      <% end %>
        
        
      </div>
          
</header>